@import "~taro-ui/dist/style/components/float-layout.scss";
.container {
  background-color: #eef2f3;
  min-height: 100vh;
  .swiper {
    height: 500px;
    width: 100%;
  }
  .product_image {
    width: 100%;
  }
  .headerContent {
    padding: 0 40px;
    background-color: white;
    height: 260px;
    .left {
      float: left;
      width: 560px;
      .name {
        font-weight: bold;
        font-size: 40px;
        height: 70px;
        line-height: 70px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
      .description {
        width: 100%;
        height: 90px;
        font-size: 30px;
        color: #c1c1c1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
    .right {
      float: right;
      height: 160px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .feeAndNumber {
      float: left;
      width: 100%;
      height: 60px;
      line-height: 60px;
      font-size: 30px;
      color: #c1c1c1;
      .leftText {
        float: left;
      }
      .rightText {
        float: right;
      }
    }
  }
  .sellerMessageContent {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    .sellerAvatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    .integral {
      margin-left: 10px;
      color: #6190e8;
    }
    .toDetail {
      position: absolute;
      right: 20px;
      margin-right: 30px;
      height: 100px;
      line-height: 100px;
      text {
        margin-right: 10px;
      }
    }
  }
  .detailContent {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    display: flex;
    position: relative;
    min-height: 80px;
    .detailLeft {
      position: absolute;
      height: 80px;
      line-height: 80px;
      left: 20px;
    }
    .detailRight {
      position: absolute;
      height: 80px;
      line-height: 80px;
      right: 20px;
    }
  }
  .commentContent {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    display: flex;
    position: relative;
    min-height: 80px;
    .commentLeft {
      position: absolute;
      height: 80px;
      line-height: 80px;
      left: 20px;
    }
    .commentRight {
      position: absolute;
      height: 80px;
      line-height: 80px;
      right: 20px;
    }
    .commentBox {
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      padding: 5px 10px;
      .commentList {
        width: 100vw;
        .header {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 26px;
          .avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .text {
          width: calc(100% - 40px);
          font-size: 30px;
          margin-left: 10px;
          text-align: justify;
        }
      }
    }
  }
  //floatLayout
  .detailRow {
    width: 100%;
    min-height: 70px;
    margin-top: 20px;
    border-bottom: 1px solid #c1c1c1;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #c1c1c1;
    .detailRowLeft {
      display: flex;
      width: 50%;
      justify-content: flex-start;
      font-size: 30px;
      margin-left: 30px;
    }
    .detailRowRight {
      display: flex;
      width: 50%;
      font-size: 30px;
      margin-right: 30px;
      overflow: hidden;
    }
  }
}
