@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/badge.scss";

.container {
  background-color: #eeeeee;
  font-size: 24rpx;
  min-height: 100vh;
}

.personal-info {
  background-color: #c8ad8d;
  height: 300rpx;
  text-align: center;

  .avatar {
    margin: 60rpx auto 20rpx;
  }

  .username {
    font-size: 32rpx;
  }
}

.membership {
  text-align: center;

  .count {
    font-size: 32rpx;
    margin: 8rpx 0;
  }

  .title {
    font-size: 24rpx;
    color: #666666;
  }
}

.order-item {
  text-align: center;
}

.order-item-icon {
  font-size: 48rpx;
  color: #666666;
}

.order-item-text {
  margin-top: 10rpx;
  color: #666666;
}

.buyVipFrame {
  height: 300rpx;
  line-height: 300rpx;
  position: relative;
}

.buyVip {
  top: 45%;
  right: 0;
  padding: 10rpx;
  height: 30rpx;
  line-height: 30rpx;
  position: absolute;
  background-color: #2a2723;
  color: #e6caa9;
  font-size: 24rpx;
  border-radius: 5rpx;
}

.iconVip {
  margin-right: 10rpx;
}
//上部是订单样式
//-------分割线
// 下部是列表样式
.index {
  flex-direction: column;
  width: 100%;
}
.noUserInfo {
  width: fit-content;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  .loginText {
    font-size: 32px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    .infoCheckStatesText {
      font-size: 26px;
    }
  }
  .loginText1 {
    font-size: 42px;
    margin-left: 20px;
    color: black;
  }
}
.container {
  background-color: #feffff;
  .loginBtn {
    position: relative;
    // display: block;
    width: 250px;
    padding: 0;
    box-sizing: content-box;
    font-size: 42px;
    text-align: left;
    text-decoration: none;
    line-height: normal;
    border-radius: 0;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    color: transparent;
    background-color: transparent;
  }
  .loginBtn:after {
    border: none;
  }
  .cardList {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    position: relative;
  }
}
