.buyBar {
  width: 750rpx;
  position: fixed;
  height: 92rpx;
  bottom: 107.6rpx;
  background-color: transparent;
  z-index: 103;
  float: left;
  .buyBarContainer {
    width: 100%;
    height: 100%;
    line-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    .allSelect {
      height: 100%;
      display: flex;
      flex-direction: row;
      padding-left: 20px;
      justify-content: center;
      align-items: center;
      .selectText {
        margin-left: 10px;
      }
    }
    .buyBarBox {
      padding: 2px;
    }
    .payNumber {
      width: 240px;
      height: 100%;
      color: white;
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 260px;
      font-size: 28px;
      .payNumberText {
        padding-top: 10px;
        width: 90px;
        margin-left: 15px;
        color: black;
      }
      .allPrice {
        width: 150px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .priceText {
          font-size: 30px;
          color: #6190e8;
        }
        .transportFee {
          font-size: 24px;
          color: #c1c1c1;
        }
      }
    }
    .pay {
      width: 260px;
      height: 100%;
      color: white;
      font-size: 36px;
      position: absolute;
      right: 0;
      background-color: #6190e8;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
