.noData {
  width: 250rpx;
  height: 220rpx;
  margin: 30rpx auto;
  color: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  .noDataDesc {
    font-size: 30rpx;
    text-align: center;
  }
}
