@import './iconfont.scss';

.noData {
  text-align: center;
  width: 250rpx;
  height: 220rpx;
  margin: 30rpx auto;
  font-size: 160rpx;
  color: #cccccc;
}

.noDataDesc {
  font-size: 30rpx;
  text-align: center;
}
