.productflow {
  width: 98%;
  margin: 0 auto;
  .product_item {
    float: left;
    width: 50%;
    margin-bottom: 10px;
    .product_box {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 99%;
      border-radius: 10px;
      .product_image {
        width: 98%;
        margin: 0 auto;
        border-radius: 2%;
      }
      .product_description {
        padding: 16px 0;
        height: 46px;
        width: 100%;
        line-height: 23px;
        overflow: hidden;
        Text {
          display: inline;
          margin: 0 5px;
        }
        .price {
          color: red;
        }
      }
    }
  }
}
