.productflow {
  width: 98%;
  margin: 0 auto;
  .product_item {
    float: left;
    width: 50%;
    margin-bottom: 10px;
    .product_box {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 99%;
      height: 356px;
      border-radius: 10px;
      justify-content: center;
      .product_image {
        width: 98%;
        margin: 0 auto;
        border-radius: 2%;
      }
    }
    .product_description {
      padding: 16px 0;
      // height: 60px;
      width: 100%;
      line-height: 1.2;
      overflow: hidden;
      .prodectText {
        width: 100%;
        overflow: hidden; //一定要写
        text-overflow: ellipsis; //超出省略号
        display: -webkit-box; //一定要写
        -webkit-line-clamp: 2; //控制行数
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical; //一定要写
        word-break: break-all;
      }
      .price {
        color: red;
        text-align: center;
      }
    }
  }
  .bottomSpace {
    float: left;
    width: 100vw;
    height: 120px;
  }
}
