.orderCondition {
  width: 187.5rpx;
  float: left;
  font-size: 28px;
  text-align: center;
  margin: 13px auto;
}

.orderSelect {
  color: burlywood;
}

.priceFrame {
  width: 80rpx;
  margin: 0 auto;
}

.orderPrice {
  float: left;
}

.upDownFrame {
  width: 13px;
  height: 20px;
  display: block;
  float: right;
}

.upDownFrame at-icon {
  float: left;
}

.upDownFrame at-icon text {
  float: left;
}

.upDown {
  height: 8px;
  float: left;
}

.search {
  color: #aaa;
  font-size: 24px;
  margin-right: 32rpx;
}

.products {
  width: 750rpx;
  border-top: 1rpx solid #d6e4ef;
  float: left;
}

.checkboxProducts {
  margin: 10rpx 0 80rpx 0;
  width: 750rpx;
  float: left;
}

.normalList {
  margin: 10rpx 0 20rpx 0;
  float: left;
}

.noBorder {
  border: none;
}

.productFrame {
  float: left;
}

.checkMore {
  width: 740rpx;
  height: 60rpx;
  line-height: 60rpx;
  margin: 15rpx auto 15rpx auto;
  float: left;
  text-align: center;
  border: 1px solid #eeecec;
  color: #c7c2c2;
  font-weight: 300;
}

.simpleList {
  width: 750rpx;
  height: 100%;
  float: left;
  overflow: hidden;
}

.simpleProductFrame {
  width: 375rpx;
  float: left;
  margin: 8rpx auto;
}
