.top_bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  .position {
    max-width: 170px;
    margin-left: 10px;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(110, 110, 110);
  }
  .search_bar {
    flex: 1;
  }
}
