.typeSpan {
  float: left;
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.typeSplit {
  width: 1px;
  border-right: 1px solid #efefef;
  float: left;
  height: 30rpx;
  margin: 25rpx auto;
}
