@import "~taro-ui/dist/style/components/image-picker.scss";
@import "~taro-ui/dist/style/components/textarea.scss";
.margin {
  Text {
    margin: 10px;
  }
}
.line {
  margin-top: 10px;
  height: 1px;
}
.textarea {
  border: none;
  border-radius: 0%;
  background-color: #fafbfc;
}
.imagepicker {
  background-color: #fafbfc;
}
.btn_submit {
  background-color: #f94b47;
  border: none;
  border-radius: 5px;
  height: 80px;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}
//警示文字
.notice {
  color: #333;
  font-size: 28px;
  .red {
    color: red;
  }
}
